# File types
*.egg-info/
*.pyc
*.png
*.log
.coverage
*.prof
memory_snapshot.html

# Folders
reference/
.vscode/
.cursor/
local/
output/
wandb/
build/
.pytest_cache/
__pycache__/

test/
data/
!script/data/